*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-image: url('images/teemo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#container{
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 20px; 
  background: #1e2328;
  color: #cdbe91;
  border: #cdbe91 3px solid;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
  box-shadow: red;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 8px;
  text-align: center;
  
}

h1{
  font-size: 33px;
  margin-top: 10px;
}

#summoner_name_div{
  font-size: 20px;
}

input[type="text"] {
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  border: 2px solid transparent; 
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;

}

input[type="text"]:hover {
  text-shadow: 0 0 5px #ffffff80;
  
  transition: 0.1s;
}

input[type="text"]:focus {
  outline: none; 
}

.styled-input::placeholder {
  font-size: 12px; 
}

#select_region_div{
  font-size: 20px;
}

select {
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  border: 2px solid transparent; 
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
}

select:hover {
  text-shadow: 0 0 5px #ffffff80;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

select:active {
  
  color: #cdbe9130;
}

#search_button {
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px; 
    background: #1e2328;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
  }
  
  #search_button:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    cursor: pointer;
    transition: 0.1s;
  }
  
  #search_button:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
  }

  #ranked_win{
    margin: 5px;
  }

  #ranked_winratio{
    margin: 5px;
  } 

  #ranked_divion{
    margin: 5px;
  }
